
.vs/ImageSearchLibrary/v15/.suo
.vs/ImageSearchLibrary/v15/Browse.VC.db
.vs/ImageSearchLibrary/v15/Browse.VC.opendb
.vs/ImageSearchLibrary/v15/ipch/2510950dde65893a.ipch
.vs/ImageSearchLibrary/v15/ipch/3c0c57d4df58a8b.ipch
.vs/ImageSearchLibrary/v15/ipch/62284e189413268a.ipch
.vs/ImageSearchLibrary/v15/ipch/c459d37c0bd9df7b.ipch
.vs/ImageSearchLibrary/v15/ipch/ca9ec4332d4f6faf.ipch
.vs/ImageSearchLibrary/v15/ipch/dcd01ae5f56a1a3f.ipch
Debug/ImageSearchLibrary.dll
Debug/ImageSearchTest.exe
Debug/ImageSearchTest.ilk
Debug/ImageSearchTest.pdb
ImageSearchDll/Debugx86/ImageSearchLibrary.dll
ImageSearchDll/Debugx86/ImageSearchLibrary.exp
ImageSearchDll/Debugx86/ImageSearchLibrary.ilk
ImageSearchDll/Debugx86/ImageSearchLibrary.lib
ImageSearchDll/Debugx86/ImageSearchLibrary.pdb
ImageSearchDll/x64/ImageSearchLibrary.dll
ImageSearchDll/x64/ImageSearchLibrary.exp
ImageSearchDll/x64/ImageSearchLibrary.iobj
ImageSearchDll/x64/ImageSearchLibrary.ipdb
ImageSearchDll/x64/ImageSearchLibrary.lib
ImageSearchDll/x64/ImageSearchLibrary.pdb
ImageSearchDll/x86/ImageSearchLibrary.dll
ImageSearchDll/x86/ImageSearchLibrary.exp
ImageSearchDll/x86/ImageSearchLibrary.iobj
ImageSearchDll/x86/ImageSearchLibrary.ipdb
ImageSearchDll/x86/ImageSearchLibrary.lib
ImageSearchDll/x86/ImageSearchLibrary.pdb
ImageSearchLibrary/Debug/dllmain.obj
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/ImageSearchLibrary.write.1u.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/Debug/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/Debug/ImageSearchLibrary.log
ImageSearchLibrary/Debug/ImageSearchLibrary.obj
ImageSearchLibrary/Debug/ImageSearchLibrary.pch
ImageSearchLibrary/Debug/stdafx.obj
ImageSearchLibrary/Debug/vc141.idb
ImageSearchLibrary/Debug/vc141.pdb
ImageSearchLibrary/Release/dllmain.obj
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/ImageSearchLibrary.write.1u.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/Release/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/Release/ImageSearchLibrary.log
ImageSearchLibrary/Release/ImageSearchLibrary.obj
ImageSearchLibrary/Release/ImageSearchLibrary.pch
ImageSearchLibrary/Release/stdafx.obj
ImageSearchLibrary/Release/vc141.pdb
ImageSearchTest/Debug/ImageSearchLibrary.dll
ImageSearchTest/Debug/ImageSearchTest.exe
ImageSearchTest/Debug/ImageSearchTest.ilk
ImageSearchTest/Debug/ImageSearchTest.log
ImageSearchTest/Debug/ImageSearchTest.obj
ImageSearchTest/Debug/ImageSearchTest.pch
ImageSearchTest/Debug/ImageSearchTest.pdb
ImageSearchTest/Debug/ImageSearchTest.tlog/CL.command.1.tlog
ImageSearchTest/Debug/ImageSearchTest.tlog/CL.read.1.tlog
ImageSearchTest/Debug/ImageSearchTest.tlog/CL.write.1.tlog
ImageSearchTest/Debug/ImageSearchTest.tlog/ImageSearchTest.lastbuildstate
ImageSearchTest/Debug/ImageSearchTest.tlog/link.command.1.tlog
ImageSearchTest/Debug/ImageSearchTest.tlog/link.read.1.tlog
ImageSearchTest/Debug/ImageSearchTest.tlog/link.write.1.tlog
ImageSearchTest/Debug/stdafx.obj
ImageSearchTest/Debug/vc141.idb
ImageSearchTest/Debug/vc141.pdb
.vs/ImageSearchLibrary/v15/ipch/3abde4bebf6a3c09.ipch
.vs/ImageSearchLibrary/v15/Solution.VC.db
.vs/ImageSearchLibrary/v15/ipch/AutoPCH/9b55bc800bb62ba9/TASKCOLLECTION.ipch
ImageSearchLibrary/x64/Debug/dllmain.obj
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link-cvtres.read.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link-cvtres.write.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link-rc.read.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link-rc.write.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/x64/Debug/ImageSea.9488B15C.tlog/unsuccessfulbuild
ImageSearchLibrary/x64/Debug/ImageSearchLibrary.log
ImageSearchLibrary/x64/Debug/ImageSearchLibrary.obj
ImageSearchLibrary/x64/Debug/ImageSearchLibrary.pch
ImageSearchLibrary/x64/Debug/stdafx.obj
ImageSearchLibrary/x64/Debug/vc141.idb
ImageSearchLibrary/x64/Debug/vc141.pdb
x64/Debug/ImageSearchLibrary.exp
x64/Debug/ImageSearchLibrary.lib
x64/Debug/ImageSearchLibrary.pdb
.vs/ImageSearchLibrary/v15/Solution.VC.db-shm
ImageSearchLibrary/Debug/ImageSearchLibrary.Build.CppClean.log
.vs/ImageSearchLibrary/v15/Solution.VC.db-wal
.vs/ImageSearchLibrary/v15/ipch/17a5ac516dfb07ea.ipch
.vs/ImageSearchLibrary/v15/ipch/298a7a8ffb4ce2cb.ipch
.vs/ImageSearchLibrary/v15/ipch/AutoPCH/830b5390eee23e3e/WINDOW_W32.ipch
.vs/ImageSearchLibrary/v15/ipch/AutoPCH/ec16628508ad3bab/FLOODFILL.ipch
.vs/ImageSearchLibrary/v15/ipch/AutoPCH/ee17f279f10366b1/STRNLEN.ipch
.vs/ImageSearchLibrary/v15/ipch/b0ee6b015d5d394a.ipch
ImageSearchLibrary/DebugOpenCV3/dllmain.obj
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/ImageSearchLibrary.write.1u.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.22072.delete.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.4872.delete.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.576.delete.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSearchLibrary.Build.CppClean.log
ImageSearchLibrary/DebugOpenCV3/ImageSearchLibrary.log
ImageSearchLibrary/DebugOpenCV3/ImageSearchLibrary.obj
ImageSearchLibrary/DebugOpenCV3/imagesearchlibrary.obj.enc
ImageSearchLibrary/DebugOpenCV3/ImageSearchLibrary.pch
ImageSearchLibrary/DebugOpenCV3/stdafx.obj
ImageSearchLibrary/DebugOpenCV3/vc141.idb
ImageSearchLibrary/DebugOpenCV3/vc141.pdb
ImageSearchLibrary/ReleaseOpenCV3/dllmain.obj
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/ImageSearchLibrary.write.1u.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/link.delete.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/ReleaseOpenCV3/ImageSearchLibrary.Build.CppClean.log
ImageSearchLibrary/ReleaseOpenCV3/ImageSearchLibrary.log
ImageSearchLibrary/ReleaseOpenCV3/ImageSearchLibrary.obj
ImageSearchLibrary/ReleaseOpenCV3/ImageSearchLibrary.pch
ImageSearchLibrary/ReleaseOpenCV3/stdafx.obj
ImageSearchLibrary/ReleaseOpenCV3/vc141.pdb
ImageSearchTest/DebugOpenCV3/ImageSearchLibrary.dll
ImageSearchTest/DebugOpenCV3/ImageSearchTest.Build.CppClean.log
ImageSearchTest/DebugOpenCV3/ImageSearchTest.exe
ImageSearchTest/DebugOpenCV3/ImageSearchTest.ilk
ImageSearchTest/DebugOpenCV3/ImageSearchTest.log
ImageSearchTest/DebugOpenCV3/ImageSearchTest.obj
ImageSearchTest/DebugOpenCV3/ImageSearchTest.pch
ImageSearchTest/DebugOpenCV3/ImageSearchTest.pdb
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/CL.command.1.tlog
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/CL.read.1.tlog
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/CL.write.1.tlog
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/ImageSearchTest.lastbuildstate
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/link.command.1.tlog
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/link.read.1.tlog
ImageSearchTest/DebugOpenCV3/ImageSearchTest.tlog/link.write.1.tlog
ImageSearchTest/DebugOpenCV3/LabelData.yml
ImageSearchTest/DebugOpenCV3/stdafx.obj
ImageSearchTest/DebugOpenCV3/TrainingData.yml
ImageSearchTest/DebugOpenCV3/vc141.idb
ImageSearchTest/DebugOpenCV3/vc141.pdb
ImageSearchTest/LabelData.yml
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.log
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.pch
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/CL.command.1.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/CL.read.1.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/CL.write.1.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/ImageSearchTest.lastbuildstate
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/unsuccessfulbuild
ImageSearchTest/ReleaseOpenCV3/stdafx.obj
ImageSearchTest/ReleaseOpenCV3/vc141.pdb
ImageSearchTest/TrainingData.yml
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.obj
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/ImageSearchTest.write.1u.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/link.command.1.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/link.read.1.tlog
ImageSearchTest/ReleaseOpenCV3/ImageSearchTest.tlog/link.write.1.tlog
ReleaseOpenCV3/ImageSearchTest.exe
ReleaseOpenCV3/ImageSearchTest.iobj
ReleaseOpenCV3/ImageSearchTest.ipdb
ReleaseOpenCV3/ImageSearchTest.pdb
.vs/ImageSearchLibrary/v15/ipch/8d9d8e6927fd356b.ipch
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.47476.delete.1.tlog
.vs/ImageSearchLibrary/v15/ipch/15dfaa610b641347.ipch
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.31672.delete.1.tlog
ImageSearchLibrary/DebugOpenCV3/ImageSea.9488B15C.tlog/link.delete.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/dllmain.obj
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.command.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.read.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/CL.write.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/ImageSearchLibrary.lastbuildstate
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/link.command.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/link.read.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/link.write.1.tlog
ImageSearchLibrary/x64/DebugOpenCV3/ImageSea.9488B15C.tlog/unsuccessfulbuild
ImageSearchLibrary/x64/DebugOpenCV3/ImageSearchLibrary.Build.CppClean.log
ImageSearchLibrary/x64/DebugOpenCV3/ImageSearchLibrary.log
ImageSearchLibrary/x64/DebugOpenCV3/ImageSearchLibrary.obj
ImageSearchLibrary/x64/DebugOpenCV3/ImageSearchLibrary.pch
ImageSearchLibrary/x64/DebugOpenCV3/stdafx.obj
ImageSearchLibrary/x64/DebugOpenCV3/vc141.idb
ImageSearchLibrary/x64/DebugOpenCV3/vc141.pdb
ImageSearchTest/classifications.xml
ImageSearchTest/images.xml
ImageSearchTest/x64/Debug/ImageSearchTest.log
ImageSearchTest/x64/Debug/ImageSearchTest.pch
ImageSearchTest/x64/Debug/ImageSearchTest.tlog/CL.command.1.tlog
ImageSearchTest/x64/Debug/ImageSearchTest.tlog/CL.read.1.tlog
ImageSearchTest/x64/Debug/ImageSearchTest.tlog/CL.write.1.tlog
ImageSearchTest/x64/Debug/ImageSearchTest.tlog/ImageSearchTest.lastbuildstate
ImageSearchTest/x64/Debug/ImageSearchTest.tlog/unsuccessfulbuild
ImageSearchTest/x64/Debug/stdafx.obj
ImageSearchTest/x64/Debug/vc141.idb
ImageSearchTest/x64/Debug/vc141.pdb
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.Build.CppClean.log
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.log
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.pch
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.tlog/CL.command.1.tlog
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.tlog/CL.read.1.tlog
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.tlog/CL.write.1.tlog
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.tlog/ImageSearchTest.lastbuildstate
ImageSearchTest/x64/DebugOpenCV3/ImageSearchTest.tlog/unsuccessfulbuild
ImageSearchTest/x64/DebugOpenCV3/stdafx.obj
ImageSearchTest/x64/DebugOpenCV3/vc141.idb
ImageSearchTest/x64/DebugOpenCV3/vc141.pdb
/.vs/ImageSearchLibrary/v15/ipch
